#creadorForm{
    width: 30%;
    height: 100%;
    float: left;
}

#formCreado{
    height: 70%;
    width: 50%;
    float: right;
}

.btnAdd{
    margin-top: 1em;
    margin-bottom: 1em;
}

.btnDel{
    margin-top: 0.5em;
}

#addPregunta{
    margin-top: 0.5em;
    background-color: cornflowerblue;
    font-weight: bold;
}

#btnCrearFormulario{
    background-color: cornflowerblue;
    font-weight: bold;
}

